<!-- 

   ================  HEADING  ================            

-->

<section class="grid">
  <h1 class="page-heading"><%= @article.title %></h1>
</section>

<section class="row">
  <div class="grid">


      <section class="col-article container-border shadow">

        <div class="card-heading">
          <h5 class="text-center">Author: <%= link_to @article.user.username, user_path(@article.user) %></h5>
          <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
          <% if @article.categories.any? %>
            <div class="mt-2 badges"><%= render @article.categories %></div>
          <% end %>
        </div> 

        <div>
          <p><%= @article.description %></p>
        </div>

        <div class="card-btns">
          <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
            <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-success" %>
            <%= button_to "Delete", article_path(@article), method: "delete", class: "btn btn-outline-success" %>
          <% end %>
        </div>

        <div class="card-footer">
          <small>Created <%= time_ago_in_words(@article.created_at)%> ago</small></br>
          <small>Edited <%= time_ago_in_words(@article.updated_at)%> ago</small>
        </div>

      </section>      

    <div class="card-btns">
      <%= link_to "Create New", new_article_path, class: "btn btn-outline-success" %>
      <%= link_to "Articles", articles_path, class: "btn btn-outline-success" %>
    </div>


  </div>
</section>
