<h1 class="page-heading text-center"><%= @user.username %>'s Profile</h1>

<%= gravatar_for @user, size: 200 %>

<% if logged_in? && @user == current_user %>
    <div class= "text-center">
        <div class="card-btns d-inline">
            <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-outline-success mt-4" %>
        </div>
    </div>
<% end %>

<h3 class="page-heading text-center">Articles</h3>


<div class="apple_pagination">
      <%= will_paginate @articles, :container => false %>
    </div>
<%= render 'articles/articles' %>